<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <base href="/">
  <title>Korisnici</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <form name="nav_form">
        <div class="nav">
            <div *ngIf="this.kor!=null">
                <div class="image-preview" id="profilna" *ngIf='this.userPfp==""'>
                    <img (click)="profil()" width="1vw" height="1vw" src="/assets/defaultuser.jpg">
                </div>
                <div *ngIf='this.userPfp!=""'>
                    <div class="image-preview" id="profilna">
                        <img (click)="profil()" width="1vw" height="1vw" [src]="this.userPfp">
                    </div>
                </div>
            </div>
            <a class="nav-item" routerLink="">Pocetna</a>
            <a class="nav-item" routerLink="/pretraga">Pretraga</a>
            <a class="nav-item" routerLink="/profil" *ngIf="this.kor!=null">Profil</a>
            <a class="nav-item" routerLink="/istorija" *ngIf="this.kor!=null">Istorija zaduzenja</a>
            <a class="nav-item" routerLink="/pregled" *ngIf="this.kor!=null">Pregled zaduzenih knjiga</a>
            <a class="nav-item" routerLink="/dodaj" *ngIf="this.moderatorJe">Dodaj knjigu</a>
            <a class="nav-item active" routerLink="/korisnici" *ngIf="this.adminJe">Korisnici</a>
            <a class="nav-item" routerLink="/prijava" *ngIf="this.kor==null">Prijava</a>
            <a class="nav-item" routerLink="/registracija" *ngIf="this.kor==null">Registracija</a>
            <!-- <a class="nav-item" routerLink="/prijava" *ngIf="this.kor!=null">Prijava</a>
            <a class="nav-item" routerLink="/registracija" *ngIf="this.kor!=null">Registracija</a> -->
            <a class="nav-item" routerLink="/promena-lozinke" *ngIf="this.kor!=null">Promena lozinke</a>
            <form *ngIf="this.kor!=null">
                <div class="form-item">
                    <button id="logout" name="odjaviSe" (click)='odjaviSe()'>Odjavi se</button><br>
                </div>
            </form>
        </div>
    </form>

    <div class='flex-container'>Rezim rada:
        <select style="margin-left: 2vw;" name='mode' [(ngModel)]='mode' (change)="modeChange()">
            <option value='lista' default>
                Izlistaj korisnike
            </option>
            <option value='dodaj'>
                Dodaj korisnika
            </option>
            <option value='zahtevi'>
                Pogledaj zahteve
            </option>
            <option value='produzetak'>
                Podesi produzenje
            </option>
        </select>
    </div>

    <!-- <div class='flex-container'>
        <form>
          <div class='form-table'>
            <div class='form-item' style="width: 30vw;">
              <label for='stringPretrage'>Pretrazi knjige:</label>
              <input name='stringPretrage' id='stringPretrage' type='text' placeholder='Naslov ili autor...' [(ngModel)]='stringPretrage'><br>
            </div>
            <br>
            <div class='form-item'>
              <button name='pretrazi' style="padding: 0vw;" (click)='pretrazi()'>Pretrazi</button><br>
            </div>
          </div>
        </form>
    </div> -->

  <!-- <div class='flex-container' *ngIf="rezultatPretrage!=null">
    <table>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Autor</th>
            <th>Ocena</th>
        </tr>
        <tr *ngFor="let k of rezultatPretrage">
            <td>{{k.id}}</td>
            <td style="font-style: oblique;">{{k.naziv}}</td>
            <td>{{k.autor}}</td>
            <td>{{k.avg}}</td>
        </tr>
    </table>
  </div> -->

  <div class='flex-container' *ngIf="sviKorisnici!=null&&this.mode=='lista'"> 
    <table>
        <tr *ngFor="let k of sviKorisnici">
            <table>
                <tr (click)="idiNaProfil(k)" style="cursor: pointer;">
                    <td (click)="idiNaProfil(k)" style="cursor: pointer;">{{k.kor_ime}}</td>
                    <td *ngIf='k.slika==""||k.slika==null' (click)="idiNaProfil(k)" style="cursor: pointer;">
                        <img width="100px" height="100px" src="/assets/defaultuser.jpg">
                    </td>
                    <td *ngIf='k.slika!=""&&k.slika!=null'>
                        <div (click)="idiNaProfil(k)" style="cursor: pointer;">
                            <img [src]="k.slika">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-style: oblique;">{{k.kor_ime}}</td>
                    <td>{{k.lozinka}}</td>
                </tr>
                <tr>
                    <td>{{k.ime}}</td>
                    <td>{{k.prezime}}</td>
                </tr>
                <tr>
                    <td>{{k.mejl}}</td>
                    <td>{{k.telefon}}</td>
                </tr>
                <tr>
                    <td>{{k.adresa}}</td>
                    <td>{{k.tip}}</td>
                </tr>
            </table>
            <br>
        </tr>
    </table>
  </div>

    <div class='flex-container' *ngIf="this.mode=='dodaj'">
        <form name="dodKorForm">
            <table>
                <tr>
                    <td style="width: 35vw;">Ime:</td>
                    <td>
                        <input type='text' name='ime' [(ngModel)]='ime'>
                    </td>
                </tr>
                <tr>
                    <td>Prezime:</td>
                    <td>
                        <input type='text' name='prezime' [(ngModel)]='prezime'>
                    </td>
                </tr>
                <tr>
                    <td>Korisnicko ime:</td>
                    <td>
                        <input type='text' name='kor_ime' [(ngModel)]='kor_ime'>
                    </td>
                </tr>
                <tr>
                    <td>Lozinka:</td>
                    <td>
                        <input type='text' name='lozinka' [(ngModel)]='lozinka'>
                    </td>
                </tr>
                <tr>
                    <td>Elektronska posta:</td>
                    <td>
                        <input type='text' name='mejl' [(ngModel)]='mejl'>
                    </td>
                </tr>
                <tr>
                    <td>Telefon:</td>
                    <td>
                        <input type='text' name='telefon' [(ngModel)]='telefon'>
                    </td>
                </tr>
                <tr>
                    <td>Adresa:</td>
                    <td>
                        <input type='text' name='adresa' [(ngModel)]='adresa'>
                    </td>
                </tr>
                <!-- <tr>
                    <td>Tip:</td>
                    <td>
                        <select name='tip' [(ngModel)]='tip'>
                            <option value='citalac'>citalac</option>
                            <option value='moderator'>moderator</option>
                        </select>
                    </td>
                </tr> -->
                <tr>
                    <td>
                        <button (click)='dodajKorisnika()'>Dodaj</button>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr *ngIf='greska!=null'>
                    <td *ngIf='greska!=null'>
                        <span *ngIf='greska!=null' id="poruka">{{greska}}</span>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>

    <div class='flex-container' *ngIf="this.mode=='zahtevi'&&sviZahtevi.length!=0"> 
        <form name="zahteviForm">
            <table>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Korisnicko ime</th>
                    <th>Mejl</th>
                    <th>Adresa</th>
                    <th>Tip</th>
                    <th>Telefon</th>
                    <th>Dodaj</th>
                    <th>Odbij</th>
                </tr>
                <tr *ngFor="let z of sviZahtevi">
                    <td>{{z.ime}}</td>
                    <td>{{z.prezime}}</td>
                    <td>{{z.kor_ime}}</td>
                    <td>{{z.mejl}}</td>
                    <td>{{z.adresa}}</td>
                    <td>{{z.tip}}</td>
                    <td>{{z.telefon}}</td>
                    <td><button (click)='dodajKorisnikaZahtev(z)'>Dodaj</button></td>
                    <td><button (click)='odbijKorisnika(z)'>Odbij</button></td>
                </tr>
            </table>
        </form>
    </div>

    <div class='flex-container' *ngIf="this.mode=='zahtevi'&&sviZahtevi.length==0"> 
        <h2>Nema korisnickih zahteva u bazi.</h2>
    </div>

    <div class='flex-container' *ngIf="this.mode=='produzetak'"> 
        <form name="produzForm">
            <table>
                <tr>
                    <td><input type="number" min="1" name="produzetak" [(ngModel)]="produzetak"></td>
                    <td><button (click)='postaviProduzetak()'>Postavi broj dana produzenja</button></td>
                </tr>
            </table>
        </form>
    </div>
  



  <!-- <table>
    <tr>
        <td>
            <h3>Knjiga dana</h3>
        </td>
        <td *ngIf="this.slicicaKnjigeDana==null">
            <img width="100px" height="100px" src="/assets/defaultbook.jpg">
        </td>
        <td *ngIf="this.slicicaKnjigeDana!=null">
            <div class="image-preview">
                <img [src]="slicicaKnjigeDana">
            </div>
        </td>
    </tr>
    <tr>
        <td style="font-style: oblique;">{{knjigaDana.naziv}}</td>
        <td>{{knjigaDana.autor}}</td>
    </tr>
    <tr>
        <td>Prosecna ocena:</td>
        <td>{{knjigaDana.avg_ocena}}</td>
    </tr>
</table> -->



  <!-- <div class='flex-container'>
    <form>
      <div class='form-table'>
        <div class='form-item' style="width: 30vw;">
          <label for='kor_ime'>Korisnicko ime:</label><br>
          <input name='kor_ime' id='kor_ime' type='text' placeholder='Username' [(ngModel)]='kor_ime'><br>
        </div>
        <br>
        <div class='form-item'>
          <label for='lozinka'>Lozinka:</label><br>
          <input name='lozinka' id='lozinka' type='password' placeholder='Password' [(ngModel)]='lozinka'>
        </div>
        <br>
        <div class='form-item'>
          <button name='prijaviSe' (click)='prijaviSe()'>Prijavi se</button><br>
        </div>
      </div>
    </form>
  </div>

  <div class="flex-container">
    <form>
      <div class="form-table">
        <div class="form-item2">
          <a class="form-item2" routerLink="registracija" name="registracija">Registrujte se ovde</a>
        </div>
      </div>
    </form>
  </div>
  <span id="poruka">{{poruka}}</span> -->




  <!-- <div class='flex-container'>
    <table>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
        </tr>
        <tr *ngFor="let k of this.top3knjige">
            <td>{{k.id}}</td>
            <td>{{k.naziv}}</td>
        </tr>
    </table>
  </div> -->

  <!-- <div class='flex-container' *ngIf="this.knjigaDana!=null">
    <table>
        <tr>
            <td>
                <h3>Knjiga dana</h3>
            </td>
            <td *ngIf="this.slicicaKnjigeDana==null">
                <img width="100px" height="100px" src="/assets/defaultbook.jpg">
            </td>
            <td *ngIf="this.slicicaKnjigeDana!=null">
                <div class="image-preview">
                    <img [src]="slicicaKnjigeDana">
                </div>
            </td>
        </tr>
        <tr>
            <td style="font-style: oblique;">{{knjigaDana.naziv}}</td>
            <td>{{knjigaDana.autor}}</td>
        </tr>
        <tr>
            <td>Prosecna ocena:</td>
            <td>{{knjigaDana.avg_ocena}}</td>
        </tr>
    </table>
  </div> -->

  <!-- <img width="200px" src="/assets/defaultbook.jpg"> -->

  <!-- <div class="image-preview" >
    <img [src]="imagePreview" >
</div>
<div class="image-preview2" >
    <img [src]="imagePreview2" >
</div> -->
<div class='ftrdiv'></div>
<div class="ftr">Biblioteka<br>2022.</div>
</body>

</html>


