<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <base href="/">
  <title>Prijava</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <div class="nav">
    <a class="nav-item" routerLink="">Pocetna</a>
    <a class="nav-item" routerLink="/pretraga">Pretraga</a>
    <a class="nav-item active" routerLink="/prijava">Prijava</a>
    <a class="nav-item" routerLink="/registracija">Registracija</a>
  </div>



  <div class='flex-container'>
    <form>
      <div class='form-table'>
        <div class='form-item' style="width: 30vw;">
          <label for='kor_ime'>Korisnicko ime:</label><br>
          <input name='kor_ime' id='kor_ime' type='text' placeholder='Username' [(ngModel)]='kor_ime'><br>
        </div>
        <br>
        <div class='form-item'>
          <label for='lozinka'>Lozinka:</label><br>
          <input name='lozinka' id='lozinka' type='password' placeholder='Password' [(ngModel)]='lozinka'>
        </div>
        <br>
        <div class='form-item'>
          <button name='prijaviSe' (click)='prijaviSe()'>Prijavi se</button><br>
        </div>
      </div>
    </form>
  </div>

  <!-- <div class="flex-container">
    <form>
      <div class="form-table">
        <div class="form-item2">
          <a class="form-item2" routerLink="registracija" name="registracija">Registrujte se ovde</a>
        </div>
      </div>
    </form>
  </div> -->
  <span id="poruka" >{{poruka}}</span>

  <!-- <div class="image-preview" >
    <img [src]="imagePreview" >
</div>
<div class="image-preview2" >
    <img [src]="imagePreview2" >
</div> -->
<div class='ftrdiv'></div>
<div class="ftr">Biblioteka<br>2022.</div>
</body>

</html>


